@page "/changepassword"

@layout EmptyLayout
@rendermode InteractiveServer

@inject IUserService UserService
@inject NavigationManager Nav
@inject UserSession User
@inject ToastService Toast
@inject LoginModel Login


<style>
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden; /* removes scroll */
    }

    .login-wrapper {
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .login-left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }

    .login-right {
        flex: 1;
        overflow: hidden;
    }

        .login-right img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* makes image fill properly */
        }

    .login-card {
        width: 100%;
        max-width: 400px;
    }
</style>

<div class="login-wrapper">

    <div class="login-left">
        <div class="login-card">

            <h3 class="fw-bold mb-2">Change Password</h3>
            <p class="text-muted mb-4">Please update your password to login</p>

            <EditForm Model="parameter" OnValidSubmit="HandleValidSubmit_Click">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <InputText class="form-control"
                               type="password"
                               @bind-Value="parameter.Password"
                               placeholder="Password" />
                    <ValidationMessage For="@(() => parameter.Password)" />
                </div>

                <div class="mb-3">
                    <InputText class="form-control"
                               type="password"
                               @bind-Value="parameter.ConfirmPassword"
                               placeholder="Confirm Password" />
                    <ValidationMessage For="@(() => parameter.ConfirmPassword)" />
                </div>


                <button class="btn btn-info text-white w-100 py-2"
                        type="submit"
                        disabled="@submitting">

                    @if (submitting)
                    {
                        <span class="spinner-border spinner-border-sm me-2"></span>
                        <span>Password Changing...</span>
                    }
                    else
                    {
                        <span>Change</span>
                    }
                </button>

                <div class="divider"></div>

                <p class="text-center text-muted small mt-4">
                    Created by: <strong>Miguel Robinson</strong>
                </p>

                <p class="text-center text-muted small">
                    Version: 1.0
                </p>

            </EditForm>
        </div>
    </div>

    <div class="login-right">
        <img src="/img/bg.jpg" alt="Banner" />
    </div>

</div>

@code {

    // Model and objects declarations
    private PasswordChangeDto parameter = new();
    private bool submitting = false;

    private async Task HandleValidSubmit_Click()
    {
        try
        {
            submitting = true;
            await Task.Delay(1000);

            // Hash password
            var passwordHash = BCrypt.Net.BCrypt.HashPassword(parameter.Password);

            // Authenticate user
            var message = await UserService.UpdatePasswordAsync(Login.Username!, passwordHash);

            if (message.Type != Custom.Toast.Models.ToastType.Success)
            {
                Toast.Show(message.Type, message.Message!);
            }
            else
            {
                Nav.NavigateTo("/?msg=passwordChanged");
            }
        }
        catch (Exception ex)
        {
            Toast.ShowError(ex.Message);
        }
        finally
        {
            submitting = false;
        }

    }

}
