@page "/changepassword"

@layout EmptyLayout
@rendermode InteractiveServer

@inject IUserService UserService
@inject NavigationManager Nav
@inject UserSession User
@inject ToastService Toast
@inject LoginModel Login


<div class="container-fluid">
    <div class="row login-wrapper">

        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="login-card">

                <h3 class="fw-bold mb-2">Change your password</h3>
                <p class="text-muted mb-4">Your password need to be changed from the default</p>

                <EditForm Model="parameter" OnValidSubmit="HandleValidSubmit_Click">
                    <DataAnnotationsValidator />

                    <div class="mb-3">
                        <InputText class="form-control"
                                   type="password"
                                   @bind-Value="parameter.Password"
                                   placeholder="Password" />
                        <ValidationMessage For="@(() => parameter.Password)" />
                    </div>

                    <div class="mb-3">
                        <InputText class="form-control"
                                   type="password"
                                   @bind-Value="parameter.ConfirmPassword"
                                   placeholder="Confirm Password" />
                        <ValidationMessage For="@(() => parameter.ConfirmPassword)" />
                    </div>

                    <button type="submit" class="btn btn-primary w-100 py-2">
                        Change Password
                    </button>

                    <div class="divider"></div>

                    <p class="text-center text-muted small mt-4">
                        Create by: <strong>Miguel Robinson</strong>
                    </p>

                    <p class="text-center text-warning small mt-4">
                        version: 1.0
                    </p>
                </EditForm>

            </div>
        </div>


        <div class="col-lg-6 d-none d-lg-block vh-100 p-0">
            <img src="/img/bg.jpg" class="img-cover" alt="Banner">
        </div>

    </div>
</div>

@code {

    // Model and objects declarations
    private PasswordChangeDto parameter = new();

    private async Task HandleValidSubmit_Click()
    {
        try
        {
            // Hash password
            var passwordHash = BCrypt.Net.BCrypt.HashPassword(parameter.Password);

            // Authenticate user
            var message = await UserService.UpdatePasswordAsync(Login.Username!, passwordHash);

            if (message.Type != Custom.Toast.Models.ToastType.Success)
            {
                Toast.Show(message.Type, message.Message!);
            }
            else
            {
                Nav.NavigateTo("/?msg=passwordChanged");
            }
        }
        catch (Exception ex)
        {
            Toast.ShowError(ex.Message);
        }

    }

}
