@page "/"

@layout EmptyLayout
@rendermode InteractiveServer

@inject IAuthService AuthService
@inject NavigationManager Nav
@inject ToastService ToastService
@inject LoginModel Model
@inject AuthenticationStateProvider AuthStateProvider

@attribute [AllowAnonymous]


<ToastContainer />

<style>
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden; /* removes scroll */
    }

    .login-wrapper {
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .login-left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }

    .login-right {
        flex: 1;
        overflow: hidden;
    }

        .login-right img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* makes image fill properly */
        }

    .login-card {
        width: 100%;
        max-width: 400px;
    }
</style>

<div class="login-wrapper">

    <div class="login-left">
        <div class="login-card">

            <h3 class="fw-semibold mb-1">Collection Management 26</h3>
            <p class="text-muted mb-5 small">Worship and Faith International Fellowship</p>

            <EditForm Model="parameter" OnValidSubmit="HandleValidSubmit_Click">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <CustomInputText Placeholder="Username" Type="text" @bind-Value="parameter.Username" />
                   @*  <InputText class="form-control"
                               @bind-Value="parameter.Username"
                               placeholder="Username" /> *@
                   @*  <ValidationMessage For="@(() => parameter.Username)" /> *@
                </div>

                <div class="mb-3">
                    <CustomInputText Placeholder="Password" Type="password" @bind-Value="parameter.Password" />
                   @*  <InputText class="form-control"
                               type="password"
                               @bind-Value="parameter.Password"
                               placeholder="Password" />
                    <ValidationMessage For="@(() => parameter.Password)" /> *@
                </div>

                <button class="btn btn-primary text-white w-100 py-2"
                        type="submit"
                        disabled="@submitting">

                    @if (submitting)
                    {
                        <span class="spinner-border spinner-border-sm me-2"></span>
                        <span>Authenticating...</span>
                    }
                    else
                    {
                        <span>Log in</span>
                    }
                </button>

                <div class="divider"></div>

               @*  <p class="text-center text-muted small mt-4">
                    Created by: <strong>Miguel Robinson</strong>
                </p> *@

                <p class="text-center text-muted small mt-4 text-warning">
                    Version: 1.0
                </p>

            </EditForm>
        </div>
    </div>

    <div class="login-right">
        <img src="/img/bg.jpg" alt="Banner" />
    </div>

</div>

@code {
    // Model and objects declarations
    private LoginDto parameter = new();

    // Class variables
    private bool submitting = false;
    private bool toast = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();

            var uri = Nav.ToAbsoluteUri(Nav.Uri);
            var query = QueryHelpers.ParseQuery(uri.Query);

            if (query.TryGetValue("msg", out var message))
            {
                if (message == "passwordChanged" && !toast)
                {
                    toast = true;
                    ToastService.ShowSuccess("Password was changed! Please log in.");
                }

                StateHasChanged();
            }
        }
    }

    private async Task HandleValidSubmit_Click()
    {
        try
        {
            submitting = true;
            await Task.Delay(1000);

            // Authenticate user
            var (canLogin, message) = await AuthService.LoginAsync(parameter);

            if (!canLogin && message.Contains("Change Password"))
            {
                // Set Navigation Model
                Model.Username = parameter.Username;
                Model.Password = parameter.Password;

                Nav.NavigateTo("/changepassword");
                return;
            }

            // Check if the user can be logged in
            if (!canLogin)
            {
                ToastService.ShowWarning(message);
            }
            else
            {
                Nav.NavigateTo("/collection", replace: true);
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowWarning(ex.Message);
        }
        finally
        {
            submitting = false;
        }
    }

}
