@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PortalWeb</a>
    </div>
</div> *@

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
     @*    <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div> *@

        <!--Collection-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collection">
                <div class="d-flex align-items-center">
                    <img width="25" height="25"
                         src="/img/collection.png"
                         class="me-2" />
                    <span class="fs-6 text-white">Add Collection</span>
                </div>
            </NavLink>
        </div>

      

        <!--Location-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="location">
                <div class="d-flex align-items-center">
                    <img width="25" height="25"
                         src="/img/locations.png"
                         class="me-2" />
                    <span class="fs-6 text-white">Add Location</span>
                </div>
            </NavLink>
        </div>

        <!--Currency-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="currency">
                <div class="d-flex align-items-center">
                    <img width="25" height="25"
                             src="/img/currency.png"
                         class="me-2" />
                    <span class="fs-6 text-white">Add Currency</span>
                </div>
            </NavLink>
        </div>

        <!--User-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <div class="d-flex align-items-center">
                    <img width="25" height="25"
                         src="/img/user.png"
                         class="me-2" />
                    <span class="fs-6 text-white">Add User</span>
                </div>
            </NavLink>
        </div>

        <!--Permission-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="permission">
                <div class="d-flex align-items-center">
                    <img width="25" height="25"
                         src="/img/permission.png"
                         class="me-2" />
                    <span class="fs-6 text-white">Add Permission</span>
                </div>
            </NavLink>
        </div>

        <!--Detail Report-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="detailreport">
                <div class="d-flex align-items-center">
                    <img width="25" height="25"
                         src="/img/type.png"
                         class="me-2" />
                    <span class="fs-6 text-white">Detail Report</span>
                </div>
            </NavLink>
        </div>

        <!--Summary Report-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="summaryreport">
                <div class="d-flex align-items-center">
                    <img width="25" height="25"
                         src="/img/summary.png"
                         class="me-2" />
                    <span class="fs-6 text-white">Summary Report</span>
                </div>
            </NavLink>
        </div>

        <!--End Of Day Report-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dailyreport">
                <div class="d-flex align-items-center">
                    <img width="25" height="25"
                         src="/img/daily.png"
                         class="me-2" />
                    <span class="fs-6 text-white">Daily Report</span>
                </div>
            </NavLink>
        </div>
    </nav>
</div>

